body {
  margin: 0;
}

#app {
  background-color: #565957;
  width: 100%;
  height: 100vh;

  display: flex;
  justify-content: center;
}

#app table {
  align-self: center;
  border-collapse: collapse;
}

#app table tr td:not(:last-child) {
  border-right: 12px solid rgba(255, 255, 255, 0.5);
}

#app table tr:not(:last-child) td {
  border-bottom: 12px solid rgba(255, 255, 255, 0.5);
}

#app table tr td {
  height: 120px;
  width: 120px;
  text-align: center;
}

#app table tr td div {
  font-size: 80px;
  font-weight: 700;
}

#app table tr td .circle::after {
  content: "ï¼¯";
  color: rgba(121, 247, 207, 0.6);
}

#app table tr td .cross::after {
  content: "X";
  color: rgba(255, 115, 50, 0.6);
}

.completed {
  position: absolute;
  z-index: 50;
  top: 40vh;
  height: 15%;
  background-color: RGBA(232, 246, 254, 0.8);
  width: 100vw;
}

.completed p {
  text-align: center;
  font-size: 60px;
  line-height: 15%;
}